

 
  <div class="wrapper">
  <div class="options">
    
<div class="option-block">Currently, WarpWorks consists of the following components:</div>

<div class="option-col"><h3>WarpWorks Studio</h3> 
A web-based editor for data models and views</div>

<div class="option-col"><h3>WarpWorks Core </h3>
A set of APIs and libraries to manage data models and views in the WarpWorks world</div>
<div class="option-col"><h3>WarpJS </h3>
A JavaScript Server which can be used to implement WarpWorks-based applications</div>


  </div>
<div class="option-block-mark"> <h2>Getting started with the WarpWorks Studio</h2>

WarpWorks Studio provides a web-based tool for rapid creation of data models, as well as a framework to very rapidle create applications and test databases from the data models.</div>
  </div>

